@layer components {
	fieldset {
		& label {
			font-weight: 500;
			color: var(--color-muted-foreground);

			:disabled + &,
			&:has(+ :disabled) {
				opacity: 0.5;
			}

			input + & {
				margin-top: -1px;
			}
		}

		& :disabled {
			opacity: 0.5;
			cursor: not-allowed;
			pointer-events: none;
		}
	}

	.input {
		display: flex;

		width: 100%;
		min-width: 0;
		border-radius: var(--radius-md);
		border: 1px solid var(--color-input);
		outline-style: none;

		&:focus {
			border-color: var(--color-ring);
		}
	}

	select.input {
		appearance: base-select;
		min-width: 0;

		&::picker-icon {
			transition: 0.2s rotate;
		}

		&:open::picker-icon {
			rotate: 180deg;
		}

		&::picker(select) {
			appearance: base-select;
			padding: var(--padding-info);
			border-radius: var(--radius-md);
			border-color: var(--color-input);
		}
	}

	.combo-listbox {
		overflow-y: auto;
		width: anchor-size(width);
		position-area: bottom;
		position-try-fallbacks: flip-block;

		border-radius: var(--radius-md);

		& [role='option'] {
			cursor: pointer;

			&:hover {
				background-color: var(--color-secondary);
			}

			&[aria-current='true'] {
				font-weight: 500;
				background-color: var(--color-secondary);
			}

			&[aria-selected='true'] {
				background-color: var(--color-accent);
			}
		}
	}

	input[role='combobox'] {
		outline-style: none;
	}

	:has(> input[role='combobox']) {
		border-radius: var(--radius-md);
		border-color: var(--color-input);

		&:focus-within {
			border-color: var(--color-ring);
		}

		&::after {
			content: '›';
			rotate: 90deg;
			margin-right: 0.25rem;
			transition: rotate 0.2s;
		}

		&:focus-within::after {
			rotate: 270deg;
		}
	}

	input[role='switch'] {
		appearance: none;
		width: 2.25rem;
		height: 1.25rem;
		position: relative;
		border-radius: var(--radius-full);
		background-color: var(--color-input);
		transition: background-color 0.2s;

		&::before {
			content: '';
			position: absolute;
			top: 0.19rem;
			left: 0.22rem;
			width: 0.87rem;
			height: 0.87rem;
			border-radius: var(--radius-full);
			background: var(--color-foreground);
			transition: translate 0.2s;
		}

		&:checked {
			background-color: var(--color-primary);

			&::before {
				translate: 1rem;
				background: var(--color-primary-foreground);
			}
		}
	}
}
