@import 'tailwindcss';

@theme {
	--color-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
	--color-background: light-dark(oklch(1 0 0), oklch(0.145 0 0));

	--color-primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));
	--color-primary: light-dark(oklch(0.205 0 0), oklch(0.922 0 0));

	--color-secondary-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
	--color-secondary: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));

	--color-ring: light-dark(oklch(0.708 0 0), oklch(0.556 0 0));
	--color-border: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 10%));
}

:root {
	color-scheme: light dark;
}

@layer base {
	* {
		scrollbar-width: thin;
		outline-color: var(--color-ring);
		border-color: var(--color-border);
	}

	[data-theme='light'] {
		color-scheme: light;
	}

	[data-theme='dark'] {
		color-scheme: dark;
	}

	button:not(:disabled) {
		cursor: pointer;
	}
}
